<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Daily Player Rank/ADP Data</title>
</head>
<body>
    <h1> 25 Players w/ Greatest Rankings Spread (Top {{numPlayers}})</h1>
    <ol>
    {{#each spread}}
        <li>{{this}}</li>
    {{/each}}
    </ol>

    <h1>20 Biggest RISERS in ADP</h1>
    <ol>
    {{#each rise}}
        <li>{{this}}</li>
    {{/each}}
    </ol>

    <h1>20 Biggest FALLERS in ADP</h1>
    <ol>
    {{#each fall}}
        <li>{{this}}</li>
    {{/each}}
    </ol>
  </script>
</body>
</html>